.welcome-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.projets {
  width: 25rem;
  height: 25rem;
  background-color: #a2bef3;
  border-radius: 20px;
  opacity: 0.51;
  box-shadow: 10px 10px 10px 10px #a2bef3;
  margin-right: 15%;
  text-decoration: none;
  color: black;
}
.projets:hover {
  opacity: 0.7;
  cursor: pointer;
}

.About-me {
  width: 25rem;
  height: 25rem;
  background-color: #a2bef3;
  border-radius: 20px;
  opacity: 0.51;
  box-shadow: 10px 10px 10px 10px #a2bef3;
  margin-left: 15%;
  text-decoration: none;
  color: black;
}
.About-me:hover {
  opacity: 0.7;
  cursor: pointer;
}

.project-real {
  margin-top: 62%;
}

.discover-me {
  margin-top: 63%;
}

@media (max-width: 970px) {
  .About-me {
    width: 45%;
    margin-left: 10%;
  }
  .projets {
    width: 45%;
    margin-right: 10%;
  }
  .project-real {
    margin-top: 94%;
  }

  .discover-me {
    margin-top: 98%;
  }
}
@media (max-width: 688px) {
  .welcome-box {
    justify-content: space-around;
    text-align: center;
  }
  .About-me {
    width: 30%;
    height: 15rem;

    margin-left: 0;
  }
  .projets {
    width: 30%;
    height: 15rem;

    margin-right: 0;
  }
  .project-real {
    margin-top: 57%;
  }

  .discover-me {
    margin-top: 70%;
  }
}
